.deals {
    width: 92%;
    margin: 0 auto;
    padding: 60px 0px;
    background-color: #f7f7f7;
    &-top {
        width: 100%;
        height: 38px;
        align-items: center;
        @include flex-between();
        h1 {
            font-family: poppins;
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
        }
        button {
            width: 90px;
            height: 24px;
            gap: 12px;
            border: none;
            background-color: transparent;
            color: $button-bg;
            font-family: poppins;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
        }
    }
    &-content {
        display: flex;
        padding-top: 32px;
        max-width: 1320px;
        width: 100%;
        height: 981px;
        display: grid;
        gap: 2px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "main main sec1 sec2 sec3"
            "main main sec4 sec5 sec6"
            "sec7 sec8 sec9 sec10 sec11";
        &-main-card {
            grid-area: main;
            border: 1px solid #2c742f;
            box-shadow: 0 0 5px #2c742f;
        }
        &-card1 {
            grid-area: sec1;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
        &-card2 {
            grid-area: sec2;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
        &-card3 {
            grid-area: sec3;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
        &-card4 {
            grid-area: sec4;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
        &-card5 {
            grid-area: sec5;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
        &-card6 {
            grid-area: sec6;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
        &-card7 {
            grid-area: sec7;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
        &-card8 {
            grid-area: sec8;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
        &-card9 {
            grid-area: sec9;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
        &-card10 {
            grid-area: sec10;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
        &-card11 {
            grid-area: sec11;
            border: 1px solid $border;
            width: 260px;
            height: 327px;
            @include flex-column();
            transition: all 0.3s ease;
            padding-bottom: 10px;
            position: relative;
            background-color: $text-white;
            &:hover {
                border: 1px solid #2c742f;
                box-shadow: 0 0 5px #20b52652;
                h1 {
                    color: #2c742f;
                }
                .deals-content-right-card-bottom-circle {
                    background-color: $button-bg;
                    path {
                        stroke: white;
                    }
                }
            }
            &-sale {
                width: 80px;
                height: 27px;
                border-radius: 4px;
                padding: 3px 8px;
                gap: 8px;
                background-color: $sale-bg;
                position: absolute;
                top: 16px;
                left: 16px;
                h5 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-white;
                    span {
                        font-weight: 500;
                    }
                }
            }
            img {
                width: 100%;
                height: 240px;
            }
            &-bottom {
                width: 100%;
                height: 87px;
                @include flex-between();
                padding: 12px;
                h1 {
                    font-size: 14px;
                    font-family: poppins;
                    line-height: 150%;
                    color: $card-text;
                }
                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    font-family: poppins;
                    line-height: 150%;
                    color: $text-black;
                    span {
                        text-decoration: line-through;
                        color: $header-text;
                    }
                }
                &-circle {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-top: 11px;
                    @include flex-center();
                    background-color: #f2f2f2;
                }
            }
        }
    }
}
