$hero-bg: #333333;
$text-gray: #666666;
$border: #e6e6e6;
$button-bg: #00b207;
$text-white: white;
$text-grey: #808080;
$header-text: #999999;
$text-black: #1a1a1a;
$card-text: #4d4d4d;
$sale-bg: #ea4b48;
